wm-draft-bids {
    position: absolute;
    top: 40px;
    right: 70px;
    .md-menu {
        top: 0px;
        padding: 0px;
    }
    .md-button {
        &.md-icon-button {
            background-color: rgba(220, 220, 220, 1);
            &:hover {
                background-color: rgba(0, 0, 0, .3) !important;
            }
            md-icon {
                top: 5px;
                position: relative;
            }
        }
    }
}

md-icon {
    &.menu-close-icon {
        top: 3px;
        position: relative;
    }
}
