<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
            <md-card-title-media>
                <div class="md-media-lg card-media" style="background: grey"></div>
            </md-card-title-media>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
        <button class="md-button md-ink-ripple" type="button" aria-label="Action 1"><span class="ng-scope">Action 1</span></button>
        <button class="md-button md-ink-ripple" type="button" aria-label="Action 2"><span class="ng-scope">Action 2</span></button>
    </md-card-actions>
</md-card>
