<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex layout="column">
        <md-card>
            <md-card-title layout="row">
                <md-card-title-text flex="100">
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <br />
                <md-card-title-media flex="100">
                    <div class="md-media-lg card-media" style="background-color: grey;">

                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <div flex="100">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </div>
            </md-card-actions>
        </md-card>
    </div>
</md-content>