md-sidenav {
    md-content {
        &.blue-bg {
            overflow: visible;
            background-color: rgb(2,119,189);
            overflow: scroll;
            color: #ffffff;
        }
        &md-button {
            line-height: 40px !important;
            cursor: pointer;
            width: 100%;
            display: block;
            border-bottom: 1px solid #ffffff;
            padding-left: 6px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.9);
                color: rgba(0, 76, 145, 1);
            }
            &.active {
                background-color: rgba(120, 185, 231, 1);
                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: rgba(0, 76, 145, 1);
                }
            }
            &.fa {
                display: block;
            }
        }
        menu-toggle {
            .sub-indent {
                padding-left: 20px;
                display: block;
            }

            .menu-toggle-list {
                background-color: transparent;
                max-height: 1300px;
                overflow: hidden;
                position: relative;
                z-index: 1;
                -webkit-transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out;
                -moz-transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out;
                transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out;

                &.ng-hide {
                    max-height: 0;
                    -webkit-transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out;
                    -moz-transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out;
                    transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out;
                }
            }
        }
        &menu-link {
            md-button.active {
                background-color: rgba(255, 194, 32, 1);
                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: rgba(0, 76, 145, 1);
                }
            }
        }
    }
}
